## 01 make_blobs
<pre>
sklean에서 샘플 데이터 셋을 만들기 위해 사용한다.
</pre>

In [1]:
import matplotlib.pyplot as plt

In [2]:
from sklearn.datasets import make_blobs
X, y = make_blobs(random_state=0, n_samples=12)  # random_state = 0 적용

In [5]:
print(X.shape, y.shape)  # X와 y의 형태 확인

(12, 2) (12,)

In [4]:
print(X, y)

[[ 3.54934659  0.6925054 ]
 [ 1.9263585   4.15243012]
 [ 0.0058752   4.38724103]
 [ 1.12031365  5.75806083]
 [ 1.7373078   4.42546234]
 [ 2.36833522  0.04356792]
 [-0.49772229  1.55128226]
 [-1.4811455   2.73069841]
 [ 0.87305123  4.71438583]
 [-0.66246781  2.17571724]
 [ 0.74285061  1.46351659]
 [ 2.49913075  1.23133799]] [1 0 2 0 0 1 1 2 0 2 2 1]

In [7]:
import pandas as pd
df = pd.DataFrame(dict(x=X[:,0], y=X[:,1], label=y))
df

    label         x         y
0       1  3.549347  0.692505
1       0  1.926358  4.152430
2       2  0.005875  4.387241
3       0  1.120314  5.758061
4       0  1.737308  4.425462
5       1  2.368335  0.043568
6       1 -0.497722  1.551282
7       2 -1.481145  2.730698
8       0  0.873051  4.714386
9       2 -0.662468  2.175717
10      2  0.742851  1.463517
11      1  2.499131  1.231338

In [9]:
X, y = make_blobs(random_state=0, n_samples=12)
df = pd.DataFrame(dict(x=X[:,0], y=X[:,1], label=y))
df.columns
df[['x','y']]

           x         y
0   3.549347  0.692505
1   1.926358  4.152430
2   0.005875  4.387241
3   1.120314  5.758061
4   1.737308  4.425462
5   2.368335  0.043568
6  -0.497722  1.551282
7  -1.481145  2.730698
8   0.873051  4.714386
9  -0.662468  2.175717
10  0.742851  1.463517
11  2.499131  1.231338

In [13]:
from scipy.cluster.hierarchy import dendrogram, ward

# 데이터 배열 X에 ward 함수 적용
linkage_array= ward(df[['x','y']])
print(linkage_array.shape)
print(linkage_array)

(11, 4)
[[ 1.          4.          0.3320945   2.        ]
 [ 6.          9.          0.64580193  2.        ]
 [ 2.          8.          0.92683223  2.        ]
 [ 0.         11.          1.1803787   2.        ]
 [ 5.         15.          1.30311575  3.        ]
 [ 7.         13.          1.4440339   3.        ]
 [ 3.         14.          1.60041812  3.        ]
 [12.         18.          2.07815795  5.        ]
 [10.         17.          2.15981886  4.        ]
 [16.         20.          6.55024854  7.        ]
 [19.         21.          7.92446877 12.        ]]

In [15]:
## `labels_` : array [n_features]
## `n_leaves_` : i
## `n_components_` : int
## `children_` : array-like, shape = [n_nodes, 2]

In [ ]:
##